body{
    background-color: azure;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}
.contact{
    background-color: beige;
    padding-top: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:fixed;
    width: 1260px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 29px;
  }
  
  
  li a:hover {
    background-color: #111;
  }
