<div class="container">
<h4>Descrption</h4>
<p>A watch is a portable timepiece intended to be carried or worn by a person. It is designed to keep a consistent movement despite the motions caused by the person's activities.</p>
<b>About This item</b>
<ul>
    <li>Fashion PU leather wrist band, durable and wear-resisting.</li>
    <li>Stainless steel back, delicately made of high quality material.</li>
    <li>Adjustable watch buckle, the fasteners are secure to wear on and easy to wear off.</li>
    <li>Stylish pattern, accept customized designs, go great with your outfits and draws much attention from other.</li>
</ul>
</div>
