<!-- <p>Hello</p>


<div class="container">
  
    <button class="btn btn-primary" (click)="countValue()">Click Me</button>
    <p>{{count}}</p>
<br>

<label>FirstName:</label>
<input type="text" name="firstname" value="{{fname}}">
<button class="btn btn-primary" (click)="inputValue()">FillName</button>
    
<p>Property Binding</p>
<img [src]="imgUrl"> 



</div> -->

<!-- <div>
  <form>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." >

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname"  placeholder="Your last name.." >
  
    <button type="button" (click)="callValue()" >Submit</button>
  </form><br><br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>  </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table> 


<app-coffeeheader></app-coffeeheader> -->

<!-- <div class="container">
  <label>FirstName  : </label>
  <input name="firstname" [(ngModel)]="fname">
  <p> Your name is {{fname}}</p>
  <label>LastName  :</label>
  <input name="lastname" [(ngModel)]="lname">
  <p>{{lname}}</p>

  <label>Address  :</label>
  <input name="address" [(ngModel)]="address">
  <p>{{address}}</p>
  <label>Email  :</label>
  <input name="Email" [(ngModel)]="email">
  <p>{{email}}</p>
</div>

<div *ngIf="able">

  <p>Some Element</p>
</div> -->

<!-- <input name="getNumber" [(ngModel)]="gnumber">

<div *ngIf="gnumber%2==0">
  <p>{{gnumber}} </p>
  <p> Entered number is Even</p>
</div> 
<div *ngIf="gnumber%2!=0">
  <p>{{gnumber}} </p>
  <p> Entered Number is Odd</p>
</div> 

<div class="container">
  <div *ngFor=" let numArray of numArrays">
    {{numArray}}
  </div>

  <div *ngFor=" let strArray of strArrays">
    {{strArray}}
  </div>
</div>

<h4>Print String</h4>
<div class="container">
    <div *ngFor="let strArray of strArrays">
      <div *ngIf="strArray.length>5">
        <p>{{strArray.length}}</p>
        <p>{{strArray}}</p>
      </div>
    </div>

</div>

<h4>Odd Location</h4>
<div class="container">
  <div *ngFor="let strArray of strArrays; let i=index">
    <div *ngIf="i%2==0">
      <p>{{strArray}}</p>
    </div>
  </div>
</div>
<app-header [itemreceived]="itemsent"></app-header>
<button type="button" ></button>
 -->


 <!-- <app-header></app-header> -->

 <!-- <div class="container">
    <p [ngClass]="item>10?'red': 'yellow'">{{item}}</p>
    <p [ngClass]="classfeature()">{{item}}</p>

    <div *ngFor="let newArray of newArrays">
        <p [ngClass]="newArray%2==0?'red': 'yellow'">{{newArray}}</p>
    </div>

    <button type="button" class="btn btn-success" (click)="enable()">Enble</button>
      <button type="button" class="btn btn-primary" (click)="disable()" >Disable</button>
      {{str}}

    <div class="container">
      <button [ngStyle]="{background:'yellow'}">Click Me</button>
      <button [ngStyle]="appendstyle">Click Me</button>
    </div>
  
    <table>

      <tr>
        <td>id</td>
        <td>name</td>
        <td>username</td>
        <td>address</td>
        <td>City</td>
        <td>phone</td>
        <td>website</td>
        <td>Delete</td>
      </tr>

      <tr *ngFor="let data of jsondata" [ngClass]="data.id%2==0?'grey' :'aqua'">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.username}}</td>
        <td>{{data.address.street}}</td>
        <td>{{data.address.city}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.website}}</td>
        <td><button class="btn btn-primary" (click)="deletedata(data)">Delete</button></td>
      </tr>
    
    
  </table>

 </div>
 -->
<div class="cart">
<h2>Cart : {{counter}} </h2>
</div>

<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cartItems">
      
      <td>{{cartItem.name}}</td>
      <td>{{cartItem.price}}</td>
      <td>{{cartItem.Qty}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{totalAmt}}</td>
      <td></td>
    </tr>
    
  </tbody>
</table>
 
  <app-productdescription (descriptionItemEvent)="addItemToCart($event)"></app-productdescription>
  




