.container1{
    height: 100px;
    width: 100%;
    background-color: rgb(223, 159, 159);
    float: right;
    border: 1px solid black;
    padding-right: 150px;

}
p{
    text-align: right;
    font-weight: bold;
    font-size: x-large;
}

