.container1{
    margin: 10px;
    
    float: left;
    height: 500px;
    width: 45%;
    
}
img{
    margin: 100px;;
}

.container2{
    margin: 10px;
    
    float: right;
    height: 800px;
    width: 48%;
    background-color:aliceblue;
}
h2{
    text-align: center;
    color: blue;
}